.container {
  background-color: #e76f51;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin-top: 1em;
  padding: 0 3em;
  left: 0;
  bottom: 0;
  width: 100%;
}

.proj {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10em;
}

.pr {
  cursor: pointer;
  font-weight: 800;
}
